html {
    box-sizing: border-box;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    display: grid;
    place-items: center;
    height: 50vh;
}

h1 {
    display: flex;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
    border: 2px solid blue;
}

.flexButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: rgb(241, 219, 197);
    border-radius: 10px;
    padding: 1em;
}

.buttons {    
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: rgb(255, 187, 127);
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.5s;
    height: 7em;
    width: 7em;
}

.buttons img {
    height:50px;
    margin-bottom: 0.6em;
}

.buttons:hover {
    background-color: aliceblue;
}

a {
    text-decoration: none;
}